<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='ionicons.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='Footer.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <title>News On The Go</title>
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/"><span style="color: red"><b>News</b></span> On The Go</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('home0') }}">Canada</a>
              <a class="nav-item nav-link" href="{{ url_for('home2') }}">USA</a>
              <a class="nav-item nav-link" href="{{ url_for('home1') }}">India</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if not user_logedin%}
                <a class="nav-item nav-link" href="{{ url_for('login') }}">User Login</a>
                <a class="nav-item nav-link" href="{{ url_for('login') }}">Advertiser Login</a>
                <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
              {% endif %}
              {% if user_logedin%}
                <a class="nav-item nav-link" href="{{ url_for('login') }}">Logout</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
    </main>
    <footer class="footer-07">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-12 text-center">
                        <h2 class="footer-heading"><a href="/" class="logo"><span style="color: red"><b>News</b></span> On The Go</a></h2>
						<p class="menu">
							<a href="/">Home</a>
							<a href="{{ url_for('home2') }}">USA News</a>
							<a href="{{ url_for('home0') }}">Canada News</a>
							<a href="{{ url_for('home1') }}">India News</a>
							<a href="{{ url_for('register_advertiser') }}">Advertise with us</a>
							<a href="#">Contact Us</a>
						</p>
                        <h2 CLASS="partners">OUR PARTNERS</h2>
						<ul class="ftco-footer-social p-0">
                            <li><h3> BBC </h3></li>
                            <li><h3> USA Today </h3></li>
                            <li><h3> CNN </h3></li>
                            <li><h3> The Verge </h3></li>
                            <li><h3> FOX News </h3></li>
                            <li><h3> Newyork Post </h3></li>
                        </ul>
					</div>
				</div>
				<div class="row mt-5">
					<div class="col-md-12 text-center">
						<p class="copyright">© News On The Go 2021 All rights reserved</p>
					</div>
				</div>
			</div>
		</footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
